.ds-admin-left {
    display:inline-block;
    width:49%;
    margin-right:2%;
}
.ds-admin-right {
    display:inline-block;
    width:49%;
}
.ds-admin-head{
    margin:0 0 7px;
    padding: 0 0 5px 0;
    color: #8f8f8f;
    font-size: 14px;
    border-bottom:1px solid #ececec;
}
.ds-admin-salesline {
    margin-top:25px;
    font-size:16px;
    font-weight: thin;
}
.ds-admin-totalmoney,
.ds-admin-totalsales {
    color:red;
}
.ds-admin-totalmoney span,
.ds-admin-totalsales span{
    margin-right:10px;
    font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    color:#21759b;
    font-size:18px;
}
.ds-admin-moreinfo,
.ds-admin-contribute {
    font-size:12px;
    color:#808082;
    margin:0;
}
.ds-admin-moreinfo{
    border-top:1px solid #ececec;
    margin-top:15px;
    padding-top:10px;
}
.devsales-title-icon {
    float: left;
    margin-right: 5px;
}